/* Basic reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
width: 100%;
height: 100vh;
background-color: rgba(243, 225, 209, 0.666);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.img{
    width: 70%;
height: 65vh;
display: flex;
align-items: center;
justify-content: center;
}

.img img{
    width: 50%;
    height: 400px;
}

.start-content{
    
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-content p{
   font-size: 1.4rem;
   font-weight: 600;
   font-family: 'Courier New', Courier, monospace;
   padding: 1em;
}

#start-btn{
    padding:0.8rem  0rem 0.8rem 2.5rem ;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

#start-btn span{
    font-weight: 700;
    padding: 0.6rem 0.8rem;
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}


/* Question page styling */

.question-box{
    width: 100%;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
}

.question-no{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}
/* .question-no a{
    float: left;
    font-weight: 700;
    font-size: 1.5rem;
    color:#ffffff ;
    text-decoration: none;
} */

#quiz-no{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.question-answer{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
}

.quiz{
    width: 35%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
    margin: 1rem 0rem;
    border-radius: 10px;
    
    border-top-right-radius: 110px;
}

.quiz p{
    width: 80%;
    color: rgb(49, 49, 49);
    font-family:  Courier, monospace;
    font-weight: 800;
}

.options{
    width: 35%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
}

.options label{
    width: 100%;
    height: 40vh;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    gap: 2%;
    color: rgb(49, 49, 49);
    font-family:  Courier, monospace;
    font-weight: 800;
    border-radius: 15px;
    background-color: burlywood;
    outline: none;
    border: none;
    cursor: pointer;
}

.option:checked{
    background-color: chocolate;
}

.next-button{
    width: 100%;
    display: flex;
    justify-content: right;

}

.buttons{
    width: 90%;
    display: flex;
}
.prev-button{
    width: 100%;
    display: flex;
    justify-content: left;
}

.prev , .next{
    padding:0.8rem  0rem 0.8rem 2.5rem ;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    text-decoration: none;
}

.prev span , .next span{
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
}

.result{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
    gap: 5%;
    font-family: 'Courier New', Courier, monospace;
}
.result p{
    font-size: 1.2rem;
    font-weight: 900;
}

.result h1{
   font-size: 4rem;
   font-weight: 900;
   margin: 2rem;
}

.result a{
    padding:0.7rem 1.5rem  ;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    text-decoration: none;
}

.display{
    background-color: rgb(173, 172, 172);
    color: rgb(110, 110, 110);
    padding:0.8rem  0rem 0.8rem 2.5rem ;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    border-radius: 25px;
    text-decoration: none;
    
    cursor: pointer;
    
}
.display span{
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    border-radius: 50%;
}




/* // */


.container-fluid{
    height: 100vh !important;
    background-color: #16423C;
    border: 0;
}
.qBox{
    background-color: #6A9C89;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.btn-div{
    /* width: 50%;   */
    border-radius: 10px;
  background-color: #6A9C89 !important;
}

.btn-div button{
    background-color: #16423C;
    
}
.btn-div button:hover{
    background-color: #16423C;

}